<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Udemy</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/41129917e5.js" crossorigin="anonymous"></script>
</head>
<body>
    <%- include('./components/header') %>
    
   <div class="w-10/12 m-auto">
       <h1 class="font-bold lg:text-4xl text-2xl my-4">10,000 results for “javascript”</h1>
       <h2 class="text-xl font-bold">Explore <span class="text-blue-800">JavaScript courses</span></h2>
       <h2 class="lg:text-xl text-sm  font-semibold my-2">Students also learn <span class="text-blue-800">Web Development Node.Js React MongoDB CSS HTML</span></h2>
   </div>

   <div class="w-10/12 h-20 m-auto border-2">
    <div class="lg:w-6/12 w-full my-4 mx-2">
        <span class="mx-2 lg:text-xl text-sm"><i class="fas fa-exclamation-circle mx-2"></i>Not sure? All courses have a 30-day money-back guarantee</span>
    </div>
   </div>


    <div class = 'carousel relative p-4'></div>

    <%- include('./components/footer') %>
</body>

</html>
<script src='/js/navbar.js'></script>
<script src='/js/courses.js'></script>


<!-- http://localhost:2345/udemy -->

<script>
    console.log("Abcde")
    async function getData() {
    let res = await fetch(`http://localhost:2345/udemy/courses`);
    let data = await res.json();
    console.log(data)
    // add(data);
}

getData();
</script>


