<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Courses - Learn Anything, On Your Schedule | Udemy</title>
    <link rel = "icon" href = "https://www.udemy.com/staticx/udemy/images/v8/favicon-32x32.png" type = "image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/41129917e5.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src='/js/courses.js'></script>
</head>

<body>
    <%- include('./components/header') %>

        <div class="w-10/12 m-auto">
            <h1 class="font-bold lg:text-4xl text-2xl my-4">10,000 results for “javascript”</h1>
            <h2 class="text-xl font-bold">Explore <span class="text-blue-800">JavaScript courses</span></h2>
            <h2 class="lg:text-xl text-sm  font-semibold my-2">Students also learn <span class="text-blue-800">Web
                    Development Node.Js React MongoDB CSS HTML</span></h2>
        </div>

        <div class="w-10/12 h-20 m-auto border-2">
            <div class="lg:w-8/12 w-full my-4 mx-2">
                <span class="mx-0 lg:text-xl text-sm"><i class="fas fa-exclamation-circle mx-2"></i>Not sure? All
                    courses have a 30-day money-back guarantee</span>
            </div>
        </div>
        <div class="w-full mx-6">
            <div class="lg:w-3/12 sm:ml-10 flex justify-center">
                <div class="my-5 w-1/4 border hover:bg-gray-100">
                    <span><span class="material-icons mx-2">filter_list</span>Filter</span>
                </div>
                <div class="my-5 mx-5 w-32 border py-1 px-1 hover:bg-gray-100" onclick="show()">
                    <button>Sort by <br>
                        Most Relevent</button>
                </div>
            </div>
            <div class="w-11/12 m-auto border-2 flex">
                <div class="w-3/12 border-2 bg-gray-600">1 price langugae..</div>
                <div class="w-9/12 border-2 bg-yellow-400">2</div>
            </div>
        </div>
        <div class="lg:w-36 w-36 hidden lg:mt-20 lg:ml-56 ml-48 absolute z-50 bg-white" style="margin-top:-18px"
            id="sortFun">
            <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer">Most Relevent</div>
            <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick="sortLH()">Price
                L-H</div>
            <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick="sortHL()">Price
                H-L</div>
            <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick="highestR()">
                Highest rated</div>
            <div class="text-base hover:bg-blue-400 hover:text-white py-2 cursor-pointer" onclick="lowestR()">Lowest
                rated</div>
        </div>

        <div class='carousel relative p-4'></div>

        <%- include('./components/footer') %>
</body>

</html>
<script src='/js/navbar.js'></script>
<script src='/js/courses.js'></script>


<!-- http://localhost:2345/udemy -->

<script>
    console.log("Abcde")
    async function getData() {
        let res = await fetch(`http://localhost:2345/udemy/courses`);
        let data = await res.json();
        console.log(data)
        // add(data);
    }

    getData();




    

</script>